<div class="cpritBudget" ng-app="EntireBudgetCalcApp" ng-controller="EntireBudgetCalcCtrl">
    <strong>Budget Details for entire period:</strong>
    <table>
        <tr>
            <td style="padding: 8px;"><strong><span style="color: #f00;">* </span> Direct: </strong></td>
            <td style="padding: 8px;"><input ng-model="entirePeriod.direct" type="number" placeholder=' Direct budget ...'/></td>
        </tr>
        <tr>
            <td style="padding: 8px;"><strong><span style="color: red;">*</span> Indirect: </strong></td>
            <td style="padding: 8px;"><input ng-model="entirePeriod.indirect" type="number" placeholder=' Indirect budget ...'/></td>
        </tr>
        <tr>
            <td style="padding: 8px;"><strong>&nbsp;&nbsp;&nbsp;Total: </strong></td>
            <td style="padding: 8px;">{{entirePeriodTotal() | currency}}</td>
        </tr>
    </table>
    <input  id="entirePeriodBudgetData" value="{{entirePeriod}}" style="display: none;" />
</div>
